.titleCard{
    margin-top: 50px;
    margin-bottom: 30px;
}
.titleCard h2{
    margin-bottom: 8px;
}
.cardList{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.cardList::-webkit-scrollbar{
    display: none;
}
.cardList img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}
.cardList .card{
    position: relative;
}
.cardList .card p{
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: white;
}
@media (max-width: 800px){
    .titleCard{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .titleCard h2{
        font-size: 20px;
    }
    .cardList img{
        width: 200px;
    }
    .cardList p{
        font-size: 12px;
    }
}
@media (max-width: 500px){
    .titleCard h2{
        font-size: 15px;
    }
    .cardList img{
        width: 165px;
    }
    .cardList p{
        font-size: 10px;
    }
}